<h1> myFit </h1>
<br> 
<br>
<h3> set fitness goals
	<br>
	work hard
	<br>
	achieve god-level results
</h3>

	<% if !user_signed_in? %>
		<%= link_to "Not a member? Sign up here", new_user_registration_path %>
		<%= link_to "Sign in", new_user_session_path %>
	<% end %>


